// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';

$c-formtitle: #e7f4fd;
$c-formblue: #51b0f4;
$c-formbutton: #74c278;
$c-buttontext: #fffef2;
$c-background: #f0f0f0;
$c-white: #fff;
$c-redbutton: #e64342;
$c-border: #d3dbde;

@import 'box-sizing';
@import 'resets';
@import 'form';

.section {
  flex-basis: 80%;
  padding: 1rem;
  background: $c-background;
}

.wrapper {
  max-width: 65rem;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    flex-basis: calc(100%/3 - 2rem);
    flex-grow: 1;
    margin: 1rem;
  }
}

.card {
  border: 1px solid $c-border;
  background: $c-white;

  &__info {
    padding: 1rem;
  }
}

.name {
  margin: 0;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}

.info {
  padding: 0.3rem 0;
}

.delete {
  border: 0;
  background: $c-redbutton;
}
